/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/03/2015, 17:35:55
    Author     : Adriano
*/
#top #logo img{
    float: right;
    width: 324px;
    height: 100px;
    
}
.conteudo{
    margin: 0 5% 10% 5%; 
    clear: both;
}
#formulario{
    margin: 0 5% 10% 5%; 
    clear: both;
}
.ranking{
    width: 22%;
    float: left;
    margin-left: 25px;

}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #2973A7;
    float: left;
    width: 100%;
    height: 40px;
    border-radius: 15px;
}
/*blocos de botoes*/
nav ul li{
    display: inline;
}
/*links de cada bloco*/
nav ul li a{
    padding: 5px 30px 5px 15px;
    display: inline-block;
    font-family: arial;
    font-size: 18px;
    text-decoration: none;
    color: white;
}
/*mouse hover de cada link*/
nav ul li a:hover{
    background-color: #eaf5f7;
    color: #2973A7;
    border-bottom: 3px solid darkgreen;
    border-radius: 15px;
}
#menu_left{
    float: right;
}


/*incio do rodape*/
#footer{
    background-color: #2973A7;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 10%;
    margin: 0;
}
#autor img{
    margin-left: 10%;
    width: 162px;
    height: 50px;
    float: left;
}
#autor p{
    float: left;
    color: white;
    font-family: sans-serif;
    font-size: 12px;
    padding-top: 25px;
}
#display{
    float: right;
    margin-right: 10%;
    font-family: sans-serif;
    font-size: 20px;
    color: gainsboro;
    padding-top: 30px; 
}
/*fim do rodape*/

